<a href="https://colab.research.google.com/github/Asvikap/IMDB_Movie_Recommendation/blob/main/IMDB_Movie_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv("/content/imdb_clean2.csv")
movies

,Unnamed: 0,title,release_year,runtime,genre,rating,metascore,gross(M)
0,0,The Shawshank Redemption,1994,142,Drama,9.3,82,28.34
1,1,The Godfather,1972,175,Crime,9.2,100,134.97
2,1,The Godfather,1972,175,Drama,9.2,100,134.97
3,2,The Dark Knight,2008,152,Action,9.0,84,534.86
4,2,The Dark Knight,2008,152,Crime,9.0,84,534.86
...,...,...,...,...,...,...,...,...
2527,998,The Invisible Man,1933,71,Horror,7.6,87,0.00
2528,998,The Invisible Man,1933,71,Sci-Fi,7.6,87,0.00
2529,999,Cell 211,2009,113,Action,7.6,0,0.00
2530,999,Cell 211,2009,113,Crime,7.6,0,0.00
2531,999,Cell 211,2009,113,Drama,7.6,0,0.00

In [ ]:
movies.describe()

,Unnamed: 0,release_year,runtime,rating,metascore,gross(M)
count,2532.000000,2532.000000,2532.000000,2532.000000,2532.000000,2532.000000
mean,501.184439,1992.241706,124.209716,7.966272,66.547393,61.718515
std,289.162665,24.221845,28.915958,0.274463,30.463166,113.378029
min,0.000000,1920.000000,45.000000,7.600000,0.000000,0.000000
25%,248.750000,1976.000000,103.000000,7.800000,64.000000,0.287500
50%,503.500000,2000.000000,120.000000,7.900000,76.000000,10.775000
75%,749.000000,2011.000000,139.000000,8.100000,86.000000,70.100000
max,999.000000,2023.000000,321.000000,9.300000,100.000000,936.660000

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2532 entries, 0 to 2531
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2532 non-null   int64
 1   title         2532 non-null   object
 2   release_year  2532 non-null   int64
 3   runtime       2532 non-null   int64
 4   genre         2532 non-null   object
 5   rating        2532 non-null   float64
 6   metascore     2532 non-null   int64
 7   gross(M)      2532 non-null   float64
dtypes: float64(2), int64(4), object(2)
memory usage: 158.4+ KB

In [ ]:
movies.isnull().sum()

Unnamed: 0      0
title           0
release_year    0
runtime         0
genre           0
rating          0
metascore       0
gross(M)        0
dtype: int64

In [ ]:
movies.columns

Index(['Unnamed: 0', 'title', 'release_year', 'runtime', 'genre', 'rating',
       'metascore', 'gross(M)'],
      dtype='object')

In [ ]:
new_data = movies[['Unnamed: 0', 'title', 'genre']]

In [ ]:
new_data

      Unnamed: 0                     title   genre
0              0  The Shawshank Redemption   Drama
1              1             The Godfather   Crime
2              1             The Godfather   Drama
3              2           The Dark Knight  Action
4              2           The Dark Knight   Crime
...          ...                       ...     ...
2527         998         The Invisible Man  Horror
2528         998         The Invisible Man  Sci-Fi
2529         999                  Cell 211  Action
2530         999                  Cell 211   Crime
2531         999                  Cell 211   Drama

[2532 rows x 3 columns]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv=CountVectorizer(max_features=2532, stop_words='english')

In [ ]:
vector=cv.fit_transform(new_data['genre'].values.astype('U')).toarray()

In [ ]:
vector.shape

(2532, 23)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity=cosine_similarity(vector)

In [ ]:
similarity

array([[1., 0., 1., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 1., 0.],
       [1., 0., 1., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [1., 0., 1., ..., 0., 0., 1.]])

In [ ]:
new_data[new_data['title']=="The Godfather"].index[0]

1

In [ ]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Shawshank Redemption
The Godfather
The Dark Knight
Schindler's List
12 Angry Men

In [ ]:
def recommand(movies):
    index=new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [ ]:
recommand("Iron Man")

The Dark Knight
The Lord of the Rings: The Return of the King
Spider-Man: Across the Spider-Verse
Inception
The Lord of the Rings: The Fellowship of the Ring